[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    .pytest_cache,
    htmlcov,
    doc,
    venv,
    env
ignore = 
    E203,
    W503
per-file-ignores =
    __init__.py:F401
docstring-convention = google